@font-face {
  font-family: nunito-sans-extralight;
  src: url(../fonts/nunito-sans.extralight.ttf);
}
@font-face {
  font-family: nunito-sans-light;
  src: url(../fonts/nunito-sans.light.ttf);
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url(../fonts/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: BebasNeueBold-w1w42;
  src: url(../fonts/BebasNeueBold-w1w42.otf);
}
@font-face {
  font-family: BebasNeueBold-7B9LE;
  src: url(../fonts/BebasNeueBold-7B9LE.ttf);
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.otf);
}
@font-face {
  font-family: SF-Pro-Display-Black;
  src: url(../fonts/SF-Pro-Display-Black.otf);
}
@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(../fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: SF-Pro-Display-Heavy;
  src: url(../fonts/SF-Pro-Display-Heavy.otf);
}
@font-face {
  font-family: SF-Pro-Display-Light;
  src: url(../fonts/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: SF-Pro-Display-Medium;
  src: url(../fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
     font-family: SF-Pro-Display-Regular;
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: SF-Pro-Display-Thin;
  src: url(../fonts/SF-Pro-Display-Thin.otf);
}
@font-face {
  font-family: SF-Pro-Display-Ultralight;
  src: url(../fonts/SF-Pro-Display-Ultralight.otf);
}
@font-face {
  font-family: PT_Sans-Narrow-Web-Bold;
  src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}
@font-face {
  font-family: PT_Sans-Narrow-Web-Regular;
  src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}
@font-face {
  font-family: SourceSansPro-SemiboldItalic;
  src: url(../fonts/SourceSansPro-SemiboldItalic.ttf);
}
@font-face {
  font-family: SourceSansPro-Black;
  src: url(../fonts/SourceSansPro-Black.ttf);
}
@font-face {
  font-family: SourceSansPro-BlackItalic;
  src: url(../fonts/SourceSansPro-BlackItalic.ttf);
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: SourceSansPro-BoldItalic;
  src: url(../fonts/SourceSansPro-BoldItalic.ttf);
}
@font-face {
  font-family: SourceSansPro-ExtraLight;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: SourceSansPro-ExtraLightItalic;
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf);
}
@font-face {
  font-family: SourceSansPro-Italic;
  src: url(../fonts/SourceSansPro-Italic.ttf);
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: SourceSansPro-LightItalic;
  src: url(../fonts/SourceSansPro-LightItalic.ttf);
}
@font-face {
  font-family: SourceSansPro-Regular;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: SourceSansPro-Semibold;
  src: url(../fonts/SourceSansPro-Semibold.ttf);
}
@font-face {
  font-family: gnuolane;
  src: url(../fonts/gnuolane.otf);
}
@font-face {
  font-family: Lihataja;
  src: url(../fonts/Lihataja.otf);
}
@font-face {
  font-family: Lihataja1;
  src: url(../fonts/Lihataja.ttf);
}
@font-face {
  font-family: Tripleta-ExtraBold;
  src: url(../fonts/Tripleta-ExtraBold.ttf);
}
@font-face {
  font-family: Tripleta-ExtraBold-italic;
   src: url(../fonts/Tripleta-ExtraBold-italic.ttf);
}

  .danger{
    color:#FF0404;
  }

  .brand-logo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.4rem;
    margin-top: 1%;
    position:relative;
  }
  nav{
    background: #0F3A4C;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
  }
  

  #nav-mobile li h6{  
    margin-top:20px;
    text-align: center;
     /* height: 120px; */

  }
  #nav-mobile li{
      width:120px;
  }
  #nav-mobile{
      margin-left:90px;
      margin-right: 0px;
  }
  .navborder{
    border-left: 1px solid white;
    height:64px;
    margin-top: 0px;
  }

  .container{
      width:90vw;
  }
  .const{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    font-family: SF-Pro-Display-Bold;
    color: #fff;
    
  }

  .pushConst{
      margin-top: 30px;
      margin-bottom: 0px;
  }
  .move{
      line-height: 27px;
      margin-top: 0px;
  }
  .move p{
      margin-left:50px;
      margin-top:2px;
      margin-bottom: 2px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;   
      color: #fff;
        font-family: SF-Pro-Display-Light;

  }
  .move span{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
    
  }

  .radbtn .row{
      margin-top: 0px;
      padding-top: 0px;
  }
  .radbtn .col{
    padding-top: 0px;
    height:1.8rem;
  }
  .radbtn .row3 .col{
    margin-top: 10px;
  }

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000000;

  }
  .radio-item label span{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #fff;
    margin-left:20px;
      font-family: SF-Pro-Display-Light;
  }
  
  .radio-item label:before {
content: " ";
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #ffc435;
    background-color: transparent;
  }
  .radio-item input[type=radio]:checked + label:after {
 border-radius: 11px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 9px;
    left: 11px;
    content: " ";
    display: block;
    background: #ffc435;
  }

  /* radio section 2 */

  .radio-item2 {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item2 input[type='radio'] {
    display: none;
  }
  
  .radio-item2 label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000000;

  }
  .radio-item2 label span{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #000000;
    margin-left:20px;
  }
  
  .radio-item2 label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0 5px 0 0;
    width: 17px;
    height: 17px;
    border-radius: 11px;
    border: 2px solid #AA8709;
    background-color: transparent;
  }
  .radio-item2 input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 11px;
    left: 9px;
    content: " ";
    display: block;
    background: #AA8709;
  }

  /* radio item section 3 */
  .radio-item3 {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item3 input[type='radio'] {
    display: none;
  }
  
  .radio-item3 label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000000;

  }
  .radio-item3 label span{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #000000;
    margin-left:20px;
  }
  
  .radio-item3 label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0 5px 0 0;
    width: 17px;
    height: 17px;
    border-radius: 11px;
    border: 2px solid #AA8709;
    background-color: transparent;
  }
  .radio-item3 input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 11px;
    left: 9px;
    content: " ";
    display: block;
    background: #AA8709;
  }

  .input-field input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    background: #fff;
    font-family: SF-Pro-Display-Light;
  }



   /* label focus color */
    .input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
    input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .input1 span{
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
      font-family: SF-Pro-Display-Light;
    color: #fff;
    
  }
  .calcbtn{
      margin: 30px 0px;   
      width:100%;
  }
  .btn-large{
    background-color: #ffffff;
    width: 55%;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-family: SF-Pro-Display-Light;
  }

  .backdiv{
      margin-left:0px;
      height:300px;
      width:400px;
      text-align: center;
      padding-top: 20px;
  }

  .answerbox{
margin-top: 0px;
    margin-left: 10px;
    height: 50px;
    background-color: transparent;
    width: 300px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: SF-Pro-Display-Semibold;
    padding-top: 10px;
  }

.big{
  font-style: normal;
    font-size: 26px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    font-family: SF-Pro-Display-Bold;
}
.down{
    margin-top: 13px;
}

.move div{
    margin-top: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 700px){
    .backdiv{
        margin-top:10px;
        margin-left:8px;
        height:200px;
        background-color: #0F3A4C;
        width:80vw;
        text-align: center;
    }

    .answerbox{
        margin-top:20px;
        margin-left:30px;
        height:50px;
        background-color: white;
        width:60vw;
        font-size: 20px;
        font-weight: 300;
        color:black;
    }
    .pushConst{
        margin-top: 30px;
        margin-bottom: 0px;
        width:100vw;
        text-align: center;
    }
    .calcbtn{
        
        margin: 30px 54px;   
        width:100%;
        
    }
    /* .load{
        align-content: center;
        text-align: center;
        margin-left: 21%;
    } */
}
